/* 登録インプット index.php*/

.header-wrapper ul{
    overflow: hidden;
    padding-right: 30px;
    /* background-color: #ffffe0; */
}
.header-wrapper li{
    float: right;
    /* width: 200px; */
    font-size: 15px;
    margin: 10px;
}

.header-wrapper ul li{
    display: inline;
}

li:hover{
    background-color:#f0e68c;

}

main{
    width:100%;
   background-image:url(../img/leaves3_small.png);
   /* background-size:cover; */
   background-repeat: no-repeat;
} 

h1{
    font-size: 25px;
    color:#006400;
    font-weight:bold;
    max-width:50%;
    background: linear-gradient(transparent 60%, #9acd32 40%);
    text-align: center;
    margin:auto;
    margin-top:30px;
}

h2{
    font-size: 20px;
    color:#006400;
    font-weight:bold;
    text-align: center;
    margin-top:50px;
}

.date-wrapper{
   display: flex;
   justify-content: center;
}

.sub{
    max-width:50%;
    /* display:flex;
    justify-content: space-between;
    text-align: center; */
}

#title{
    margin-left: 15px;
    height:25px;
}

#year{
    margin-left: 15px;
    width: 100px;
    height:25px;
}

#month{
    margin-left: 15px;
    width: 100px;
    height:25px;
}

#tag{
    margin-left: 15px;
    width: 160px;
    height:25px;
}

#submit-btn{
    display: flex;
    justify-content: center;

}
#submit{
    height: 25px;
    width:60px;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #5f9ea0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #a9a9a9;
}

#recent{
    height: 25px;
    width:60px;
    margin: auto;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #5f9ea0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #a9a9a9;
  
}

.admin{
    display: flex;
    justify-content: right;
    padding-right: 20px;
    
}

.tree{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width:100%;
    text-align: center;
}


/* 1month summary.php */

.summary{
    max-width:900px;
    font-size: 20px;
    color:#006400;
    font-weight:bold;
    text-align: center;
}

.result{
    max-width:1200px;
}

#chart{
    max-width: 800px;
    margin:auto;
    margin-top:30px;
}

th{
    /* width:10%; */
    font-size:16px;
    color:#fff;
    background-color:#3cb371;
    border:1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9; 
    text-align: center; 
    /* width: 100%; */
}

td{
    font-size:14px;
    color:#000000;
    background-color:#fffafa;
    border:1px solid #a9a9a9; 
    border-bottom: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    text-align: center;
    /* width: 100%; */
}

.tables{
    display: flex;
    justify-content: center;
    width:100%;
    margin: auto;
}

.return{
    display: flex;
    justify-content:center;
    /* max-width:100%; */
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}


/* 3month summary.php */
.bill-wrapper{
    display: flex;
    justify-content:center;
    width:90%;
    margin:20px 0px 20px 0px;
    /* padding: 20px; */
}

.arrow{
    margin:20px;
}

#emission{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centering{
    height: 25px;
    width:100px;
    margin: auto;
    text-align: center;
    border: none;
    color: #ffffff;
    background-color: #5f9ea0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #a9a9a9;
}

.outstand{
    color:#0000cd;
    font-size: 20px;
    font-weight:bold;

}

.comparison{
    width: 900px;
    margin:auto;
}

.login{
    background-image: url(../img/tree.png);
       background-size:cover;
   background-repeat: no-repeat;
}